* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  font-size: 1rem;
  transition: background-color 500ms linear;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 15rem;
  background-color: #fff;
  border: 2px solid black;
}

#button-color {
  padding: 5px;
  margin: 10px;
}

#random-color {
  width: 5rem;
  text-align: center;
}

.alert-danger {
  margin-top: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  color: red;
}

span {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 7px;
  color: gray;
}
